:root {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
}

nav {
    position: fixed;
    top: 0px;
    background-color: #ccc;
    height: 7rem;
    width: 100%;
}

main {
    /* padding: 7rem 0; */
    height: calc(100vh-7rem);
    background-color: blueviolet;
}

section.boxes {
    position: relative;
    /* height: calc(100vh - (7 * 2rem)); */
    height: calc(100vh);
    background-color: #222;

    display: flex;
    /* flex-wrap: wrap;
    flex-direction: row; */
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    gap: 1rem 1rem;
}

.box {
    min-height: 5rem;
    min-width: 10rem;
    padding: 1.5rem;
    /* flex: 30%; */
    border: 2px solid #222;
    border-radius: 0.2rem;;
    background-color: #777;
    font-weight: bold;
    font-family: 'roboto';
    font-size: 4rem;
    color: whitesmoke;

    /* display: inline-block; */
    display: flex;
    align-content: center;
    justify-content: center;

    flex-basis: calc(33.33% - 1rem);
    flex: 1;
}

.box p, button {
    font-size: 4rem;
}