:root {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.boxes {
    height: 100vh;
    position: relative;
    height: calc(100vh);
    display: grid;
    justify-content: flex-start;
    gap: 2rem 2rem;
    /* grid-template-columns: 3fr 1fr 1fr 1fr;  */
    grid-template-columns: 3fr repeat(2, 1fr); 
    /* grid-template-rows: minmax(200px,1fr); */
}

.box {
    padding: 1.5rem;
    /* min-height: 10rem;
    min-width: 20rem; */
    font-size: 4rem;
    color: #eee;
    border: .4rem solid #333;
    background-color: #777;    
    text-align: center;;
}

.box p, button {
    font-size: 4rem;
}

