:root {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}

.content {
    display: grid;
    grid-template-areas: 
        ". . . . . "
        ". hero . form ."
        ". . . . . "
    ;
    gap: 8.5rem;

    grid-template-rows: 1fr 10fr 1fr 15fr 1fr;
    
}

aside {
    grid-area: hero;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 3.3rem 0;
}

aside h1 {
    font-size: 6.4rem;
    line-height: 7.5rem;
    margin-top: 5.5rem;
}

aside h1 span, main h2 span {
    color: #ff5670;
}

main {

    grid-area: form;

    width: 60rem;
    height: 52rem;
    border: 0.1rem solid rgba(0,0,0,0.15);
    border-radius: 1.2rem;
    padding: 5.7rem 4.4rem;
}

main h2 { 
    font-size: 3.6rem;
    line-height: 4.2rem;
    max-width: 43rem;    
}

main .actions {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

main .actions a {
    font-size: 2.4rem;    
    text-decoration: none;
    color: #fff;
    background-color: #35E6E9;

    width: 48.9rem;
    height: 5.5rem;    
    margin-top: 5.4rem;

    border-radius: 1.2rem;
    opacity: 0.1rem;
    border: 0.2rem solid #C0EBF4; 

    display: flex;
    align-items: center;
    justify-content: center;
}

main .actions a + a {
    background-color: #ff5678;
    margin-top: 4.8rem;
}

main footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

main footer p {
    margin-top: 8rem;
    text-align: justify;
}

main footer a {
    margin-top: 1rem;
    font-size: 1.8rem;
    display: block;   
    text-shadow: 0rem 0.4rem 0.4rem rgba(0,0,0,0.25); 
    text-decoration: underline;
    color: #000;
}