:root {
    font-size: 62.5%;
    --default-border: 0.1rem solid rgba(0,0,0,0.15);
    --default-border-radius: 1.2rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}

.content {
    display: grid;
    grid-template-areas: 
        ". . . ."
        ". hero form ."
        ". . . ."
    ;
    gap: 8.5rem;

    grid-template-rows: minmax(8.5rem, auto) minmax(auto,auto) 1fr;
    grid-template-columns: 1fr 52rem 60rem 1fr;
    
}

aside {
    grid-area: hero;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 3.3rem 0;
}

aside h1 {
    font-size: 6.4rem;
    line-height: 7.5rem;
    margin-top: 5.5rem;
}

aside h1 span, main h2 span {
    color: #ff5670;
}

main {
    grid-area: form;

    width: 60rem;
    height: 52rem;
    border: var(--default-border);
    border-radius: var(--default-border-radius);
    padding: 5.7rem 4.4rem;
}

main h2 { 
    font-size: 3.6rem;
    line-height: 4.2rem;
    max-width: 43rem;    
}

main .actions {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

main .actions a {
    font-size: 2.4rem;    
    text-decoration: none;
    color: #fff;
    background-color: #35E6E9;

    width: 48.9rem;
    height: 5.5rem;    
    margin-top: 5.4rem;

    border-radius: var(--default-border-radius);
    opacity: 0.1rem;
    border: 0.2rem solid #C0EBF4; 

    display: flex;
    align-items: center;
    justify-content: center;
}

main .actions a + a {
    background-color: #ff5678;
    margin-top: 4.8rem;
}

main header {
    display: flex;
    align-content: center;
}

main header a {
    width: 4.2rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

main header i {    
    color: #ff5670;
    font-size: 2.2rem;
}

main form {
    margin-top: 1.6rem;
}

main footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

main footer p {
    margin-top: 8rem;
    text-align: justify;
}

main footer a {
    margin-top: 1rem;
    font-size: 1.8rem;
    display: block;   
    text-shadow: 0rem 0.4rem 0.4rem rgba(0,0,0,0.25); 
    text-decoration: underline;
    color: #000;
}

main form label {
    display: block;
    margin: 0.5rem 1rem;
    font-weight: 400;
    font-size: 1.8rem;
    text-transform: lowercase;
}

/* 
    Para evitar escrever assim: 
    main form input, main form select 
    pode-se usar um:
    main form :is(input,select)*/

main form :is(input,select) {
    width: 49rem;
    height: 5.5rem;
    border-radius: var(--default-border-radius);
    border: var(--default-border);
}

main form select {
    appearance: none;
}

main form .select-div {
    position: relative;
}

main form .select-div::after {
    position: absolute;
    content: '\f107';
    font-family: 'Font Awesome 6 Free';
    font-size: 2.2rem;
    font-weight: 600;
    top: 1.6rem;
    right: 3.5rem;
    color: #35E6E9;
    z-index: 1;
}

main form input + button {
    position: absolute;
    top: calc(2.6rem + 1.5rem);
    right: -2.4rem;
    font-size: 2.4rem;
    border: none;
    color: #35E6E9;
    background-color: transparent;
    cursor: pointer;
}

.form-group-points {
    position: relative;
}

main form + .actions a {
    margin: 4rem 0 4.4rem;
}